.header-container {
  background: linear-gradient(to right, #fbfbfb, #003366);
  color: white;
  padding: 30px 0;
  text-align: center;
  position: relative;
}

.header-container img {
  max-height: 100px;
}

.header-title {
  font-weight: bold;
}

.header-subtitle {
  font-size: 1rem;
}

.coat-of-arms,
.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.coat-of-arms {
  // left: 20px;
  right: 20px;
}

.logo {

  // right: 20px;
  left: 20px;
}

//-----------------------------------------------------------------------------------


nav.navbar {
  font-family: Arial, sans-serif;
  font-size: 0.95rem;
}

.navbar .navbar-brand img {
  object-fit: cover;
}

.nav-link {
  color: #000 !important;
  margin-right: 15px;
}

.nav-link.active {
  font-weight: 600;
}

.btn-link {
  font-weight: 500;
}

.btn-primary {
  background-color: #0056d2;
  border-color: #0056d2;
}

.btn-primary:hover {
  background-color: #003da1;
  border-color: #003da1;
}


footer {
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}



.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 21, 21, 0.8);
  /* Fond blanc avec opacité */
  z-index: 1050;
  /* Au-dessus des autres éléments */
}



//-----------------------------------------------------------------------------------


/* Container of the filters */
.filter-card {
  background: #f9fafb; /* Light gray like the image */
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Flex wrapper for filters */
.filters-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

/* Style for all dropdowns and calendars */
.filter-dropdown {
  width: 200px;
  height: 48px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: none;
  border: 1px solid #e0e0e0;
}

/* Customize the search button */
.search-btn {
  width: 48px;
  height: 48px;
  background: #e2e8f0; /* Soft light blue-gray */
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect on button */
.search-btn:hover {
  background: #cbd5e1;
}

/* Icon inside the button */
.search-btn i {
  font-size: 20px;
  color: #333;
}
