<p-menu #menuOptions [model]="options" [popup]="true">
    <ng-template pTemplate="item" let-item>
        <span [ngStyle]="{ 'color': item.color }" pTooltip="{{ item.pTooltip |translate }}" tooltipPosition="top">
            <i [class]="item.icon" [ngStyle]="{ 'color': item.color }"></i> &nbsp;
            <span>{{ item.label | translate }}</span>
        </span>
    </ng-template>
</p-menu>
<p-menu #menuOptionCan [model]="options" [popup]="true">
    <ng-template pTemplate="item" let-item>
        <span [ngStyle]="{ 'color': item.color }" pTooltip="{{ item.pTooltip |translate }}" tooltipPosition="top">
            <i [class]="item.icon" [ngStyle]="{ 'color': item.color }"></i> &nbsp;
            <span>{{ item.label | translate }}</span>
        </span>
    </ng-template>
</p-menu>


<!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<button class="btn btn-outline-dark rounded-circle mb-1" (click)="mode === 'create' ?  resetForm() : backToList()">
    <i class="fa fa-arrow-left"></i>
</button>
<div class="d-flex flex-column gap-4">
    <!-- LIST VIEW -->
    <ng-container *ngIf="mode === 'list'">
        <div class="card mb-4">
            <div class="card-body">
                <!-- Filters -->
                <div class="row" *ngIf="sprints.length > 0">
                    <div class="row mt-2">
                        <div class="col-12  d-flex justify-content-end">
                            <p-button pTooltip="{{'Actualiser' | translate}}" tooltipPosition="top"
                                [style]="{ height: '35px' }" icon="fas fa-redo-alt er" (click)="reload()"
                                styleClass="p-button-secondary">
                            </p-button>&nbsp;&nbsp;
                            <button (click)="showCreate()" [style]="{ height: '35px' }" pButton pRipple type="button"
                                label="{{ 'New Sprint' | translate }}" icon="fas fa-plus" iconPos="left"
                                class="p-button-primary"></button>&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="row">
                        <p-table #dt [value]="sprints" styleClass="p-datatable-sm p-datatable-striped"
                            [showCurrentPageReport]="true" [rows]="50" [scrollable]="true" [virtualScroll]="true"
                            [scrollHeight]="'60vh'" [globalFilterFields]="['sprintID', 'nom', 'organisationID']"
                            [virtualScrollItemSize]="50" selectionMode="single" 
                            [rowHover]="true" dataKey="sprintID" [scrollable]="false">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3%; text-align: center">N°</th>
                                    <th style="width: 15%;">{{ 'Nom'|translate }}</th>
                                    <th style="width: 25%;">{{ 'Projet'|translate }}</th>
                                    <th style="width: 8%;">{{ 'dateDebut'|translate }}</th>
                                    <th style="width: 8%;">{{ 'dateFin'|translate }}</th>
                                    <th style="width: 8%;">{{ 'Velocity'|translate }} </th>
                                    <th style="width: 10%;">{{ 'Etat'|translate }} </th>
                                    <th style="width: 10%;">{{ 'lastupdate'|translate }} </th>
                                    <th style="width: 15%;" class="text-center"> <i class="fas fa-cog"></i> </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-i="rowIndex">
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{ item.nom }}</td>
                                    <td>{{ item.projetLibelle }}</td>
                                    <td>{{ item.dateDebut }}</td>
                                    <td>{{ item.dateFin }}</td>
                                    <td>{{ item.velocity }}</td>
                                    <td>
                                        <span
                                            [ngClass]="{'enattente':item.etat==10, 'encours':item.etat==20, 'Réouvert':item.etat==30, 'Résolu':item.etat==40, 'Fermé':item.etat==50}">
                                            <span *ngIf="item.etat==10">{{ 'enattente'|translate }}</span>
                                            <span *ngIf="item.etat==20">{{ 'en cours'|translate }}</span>
                                            <span *ngIf="item.etat==30">{{ 'Réouvert'|translate }}</span>
                                            <span *ngIf="item.etat==40">{{ 'Résolu'|translate }}</span>
                                            <span *ngIf="item.etat==50">{{ 'Fermé'|translate }}</span>
                                        </span>
                                    </td>
                                    <td>{{ item.last_update | date:'longDate' }}</td>

                                    <td class="text-center">
                                        <button class="btn btn-sm btn-outline-primary me-1"><i class="pi pi-pencil"
                                                (click)="showEdit(item)"></i></button>
                                        <button class="btn btn-sm btn-outline-danger" (click)="confirmDelete(item)"><i
                                                class="pi pi-trash"></i></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>

                <div *ngIf="sprints.length  < 1" class="alert alert-info">
                    <div class="row d-flex justify-content-center mb-2">
                        {{ 'spTrouve' | translate }}
                    </div>
                    <div class="row ">
                        <div class="col d-flex justify-content-center">
                            <button icon="fas fa-plus" (click)="showCreate()" label="{{ 'nouveau' | translate }}"
                                [style]="{ height: '35px' }" pButton pRipple type="button" iconPos="left"
                                class="p-button-primary"></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ng-container>

    <!-- CREATE/EDIT VIEW -->
    <ng-container *ngIf="mode === 'create' || mode === 'edit'">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    {{ mode === 'create' ? ('Create New Sprint' | translate) : ('Edit Sprint' | translate) }}
                </h5>
            </div>
            <div class="card-body">
                <form (ngSubmit)="save()" #form="ngForm">
                    <div class="row g-3">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <label class="form-label">{{'Projet' | translate}} <span
                                        class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span></label>
                                <select class="form-select" [(ngModel)]="sprint.projetID" name="projetID"
                                    (change)="listTicket(sprint.projetID)" required>
                                    <option value="" disabled>{{'Select project' | translate}}</option>
                                    <option *ngFor="let p of projets" [value]="p.projetID">{{ p.libelleFr }}</option>
                                </select>
                            </div>

                            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2" *ngIf="mode=='edit'">
                                <label class="form-label">{{'Etat' | translate}} <span
                                        class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span></label>
                                <select class="form-select" [(ngModel)]="sprint.etat" name="etat">
                                    <option [ngValue]="undefined">{{ 'selEtat' | translate }}</option>
                                    <option *ngFor="let e of etatOptions" [value]="e.value">{{ e.label | translate }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                <label>{{'dateDebut' | translate}} <span
                                        class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span></label>
                                <input type="date" class="form-control mt-2" name="dateDebut"
                                    [(ngModel)]="sprint.dateDebut" />

                            </div>

                            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                <label>{{'dateFin' | translate}} <span
                                        class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span></label>
                                <input type="date" class="form-control mt-2" name="dateFin"
                                    [(ngModel)]="sprint.dateFin" />
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <label class="form-label">{{'Nom'| translate}} <span
                                        class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span></label>
                                <input class="form-control" [(ngModel)]="sprint.nom" name="nom" required />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <label class="form-label">{{'Objective' | translate}}</label>
                                <textarea class="form-control" [(ngModel)]="sprint.objectif" name="objectif"
                                    rows="2"></textarea>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                <label class="form-label">{{'Velocity' | translate}}</label>
                                <input type="number" class="form-control" [(ngModel)]="sprint.velocity" name="velocity"
                                    min="0" />
                            </div>
                        </div>
                    </div>




                    <div class="available-tickets-section  mt-2">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h6>{{'Available Tasks (Level 3)' | translate}}</h6>
                            <div>
                                <button type="button" class="btn btn-outline-primary btn-sm me-2"
                                    (click)="listTicket(sprint.projetID)">
                                    {{'Refresh Tasks' | translate}}
                                </button>
                                <span class="badge bg-info">
                                    {{ selectedSP.length }} {{'selected' | translate}}
                                </span>
                            </div>
                        </div>

                        <div class="row">

                            <p-table #dt [value]="ticketsLevel3" styleClass="p-datatable-sm" [rows]="50"
                                [virtualScrollItemSize]="50" [(selection)]="selectedSP" [rowHover]="true"
                                [globalFilterFields]="['sprintTicketID', 'libelleFr']" dataKey="ticketID"
                                [scrollHeight]="'40vh'">


                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 8%;">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th style="width: 3%;">{{ 'No'|translate }}</th>
                                        <th>{{ 'Code'|translate }}</th>
                                        <th>{{ 'libelleFr'|translate }}</th>
                                        <th style="width: 150px;">{{ 'Estimation'|translate }}</th>
                                    </tr>
                                </ng-template>

                                <!-- Table Body -->
                                <ng-template pTemplate="body" let-item let-i="rowIndex">
                                    <tr [class.selected-row]="isTicketSelected(item.ticketID)">
                                        <td>
                                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                                        </td>
                                        <td>{{i+1}}</td>
                                        <td>{{ item.code }}</td>
                                        <td>{{ item.libelleFr }}</td>
                                        <td>
                                            <div class="input-group input-group-sm">
                                                <input type="number" class="form-control"
                                                    name="estimation_{{item.ticketID}}" [(ngModel)]="item.estimation"
                                                    [disabled]="!isTicketSelected(item.ticketID)" min="0"
                                                    (blur)="validateEstimation(item)">
                                                <span class="input-group-text">{{'hours'| translate}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </div>

                    <!-- Form Actions -->
                    <div class="d-flex justify-content-end gap-2 mt-3">
                        <button type="button" class="btn btn-secondary"
                            (click)="mode === 'create' ?  resetForm() : backToList()">
                            {{'annuler' |translate}}
                        </button>
                        <button type="submit" class="btn btn-success" [class.p-button-loading]="displaySpinner">
                            <i class="pi"
                                [ngClass]="{'pi-save': !displaySpinner, 'pi-spin pi-spinner': displaySpinner}"></i>
                            {{'Save Sprint' | translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>

<p-dialog [(visible)]="deleteSprintDialog" [modal]="true" [style]="{width: '600px'}" [draggable]="true"
    [resizable]="false">
    <ng-template pTemplate="header">
        <span style="font-size: 22px; color: #dc3545;">{{ 'Confirmation de suppression du sprint' | translate }}</span>
    </ng-template>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center mb-3 text-danger">
                    {{ "Attention : suppression définitive du sprint" | translate }}
                </h4>
                <div class="alert alert-danger">
                    <p><strong>{{ "Cette opération entraînera :" | translate }}</strong></p>
                    <ul class="mb-3 pl-3">
                        <li>{{ "Suppression récursive de tous les sprints et leurs dépendances" | translate }}</li>
                    </ul>
                    <p class="mb-0">
                        <strong>
                            {{ "AUCUNE DONNÉE NE POURRA ÊTRE RESTAURÉE APRÈS CETTE ACTION" | translate }}
                        </strong>
                    </p>
                </div>
                <p class="text-center">{{ "Voulez-vous vraiment continuer ?" | translate }}</p>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="row justify-content-center">
            <button class="btn btn-secondary btn-sm mx-2" (click)="deleteSprintDialog = false">
                <i class="fa fa-times-circle"></i>&nbsp;{{ "Annuler" | translate }}
            </button>
            <button class="btn btn-danger btn-sm mx-2" (click)="deleteSprint()">
                <i class="fas fa-trash"></i>&nbsp;{{ "Supprimer le sprint" | translate }}
            </button>
        </div>
    </ng-template>
</p-dialog>