<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/ccaa.png" alt="Logo" style="width: 40px; height: 40px;" class="rounded-circle">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/']">
                        {{ 'Accueil' | translate }}</a>
                </li>
            </ul>
            <div class="d-flex">
                <a [routerLink]="['/contact']" class="btn btn-link text-dark me-2 text-decoration-none">
                    {{ 'Contact us' | translate }} →</a>
                <a [routerLink]="['/login']" class="btn btn-primary rounded-pill px-4">
                    {{ 'sign_in_button' | translate }} →</a>
            </div>
        </div>
    </div>
</nav>

<ng-container *ngIf="stepIndex === 1">
    <div class="d-flex align-items-center justify-content-center min-vh-100 bg-body-tertiary">
        <div class="card shadow-lg" style="max-width: 600px; border: none;">
            <div class="card-body p-5">
                <h2 class="mb-4 text-center">{{ 'mot de passe oublie' | translate }}</h2>
                <p class="lead"> {{ 'instructions recuperation' | translate }}</p>
                <form (ngSubmit)="onSubmitEmail()" #f="ngForm" novalidate>
                    <div class="form-floating mb-3">
                        <input [(ngModel)]="form.email" type="email" name="email" class="form-control"
                            id="floatingInput" placeholder="{{ 'email_placeholder' | translate }}"
                            [ngClass]="{ 'is-invalid': f.submitted && !email.valid }" #email="ngModel" autofocus
                            required />
                        <label for="floatingInput">{{ 'email_label' | translate }}</label>
                        <div *ngIf="f.submitted && !email.valid" class="invalid-feedback">
                            {{ 'Une adresse email valide est obligatoire' | translate }}
                        </div>
                    </div>

                    <div *ngIf="unknowEmail" class="alert alert-danger my-2 text-center">
                        <p class="small">{{ 'Email introuvable' | translate }}</p>
                    </div>

                    <button *ngIf="!loading" class="btn btn-dark w-100 py-2" type="submit">
                        {{ 'suivant' | translate }}
                    </button>
                    <button *ngIf="loading" class="btn btn-dark w-100 py-2" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                        <span role="status">{{ 'loading' | translate }}</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="stepIndex === 2">
    <div class="d-flex align-items-center justify-content-center min-vh-100 bg-body-tertiary">
        <div class="card shadow-lg" style="max-width: 600px; border: none;">
            <div class="card-body p-5">
                <h2 class="mb-4 text-center">{{ 'choisissez une option de verification' | translate }}</h2>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" id="emailOption" name="verificationOption"
                        [(ngModel)]="modeVerif" [value]="1">
                    <label class="form-check-label" for="emailOption">
                        {{ 'Verifier via email' | translate }} ({{ maskEmail(user.email!) }})
                    </label>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" type="radio" id="smsOption" name="verificationOption"
                        [(ngModel)]="modeVerif" [value]="2">
                    <label class="form-check-label" for="smsOption">
                        {{ 'Verifier via SMS' | translate }} ({{ maskPhone(user.telephone!) }})
                    </label>
                </div>

                <button *ngIf="!loading" class="btn btn-dark w-100 py-2" (click)="sendVerificationCode()">
                    {{ 'suivant' | translate }}
                </button>
                <button *ngIf="loading" class="btn btn-dark w-100 py-2" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                    <span role="status">{{ 'loading' | translate }}</span>
                </button>

            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="stepIndex === 3">
    <div class="d-flex align-items-center justify-content-center min-vh-100 bg-body-tertiary">
        <div class="card shadow-lg" style="max-width: 600px; border: none;">
            <div class="card-body p-5">
                <h2 class="mb-4 text-center">{{ 'verifiez votre compte' | translate }}</h2>
                <p class="text-center text-muted mb-4">
                    {{ modeVerif === 1 ? 'un code envoyé mail' : 'un code envoyé sms' | translate }}
                </p>

                <!-- Champ OTP personnalisé -->
                <div class="otp-container d-flex justify-content-center mb-4 gap-2">
                    <div class="d-flex gap-2">
                        <!-- Boucle sur 6 chiffres -->
                        <ng-container *ngFor="let i of [0,1,2,3,4,5]; let last = last">
                            <input type="text" maxlength="1" class="form-control text-center fw-bold otp-input"
                                style="width: 2.5rem; height: 2.5rem; font-size: 1.5rem;" [(ngModel)]="otpDigits[i]"
                                (input)="onInput($event, i)" (keydown.backspace)="onBackspace(i)" #otpInput>

                            <!-- Séparateur après le 3ème caractère -->
                            <span class="px-1 align-self-center" *ngIf="i === 2">-</span>
                        </ng-container>
                    </div>
                </div>

                <div class="text-center">
                    <button *ngIf="!loading" class="btn btn-dark w-100 py-2" (click)="verifyResetCode()"
                        [disabled]="otpValue.length < 6 || timer === 0">
                        {{ 'verifier' | translate }}
                    </button>
                    <button *ngIf="loading" class="btn btn-success w-100 py-2" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                        <span role="status">{{ 'loading' | translate }}</span>
                    </button>
                </div>
                <div class="text-center mt-4">
                    <p class="text-muted">
                        {{ 'attendre_timer' | translate }} <span id="timer" class="fw-bold">{{ timerDisplay }}</span>
                    </p>
                    <p>
                        {{ 'pas recu de code' | translate }}
                        <button class="btn btn-link p-0" (click)="renvoyerCode()" [disabled]="timer !== 0">
                            {{ 'renvoyer' | translate }}
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="stepIndex === 4">
    <div class="d-flex align-items-center justify-content-center min-vh-100 bg-body-tertiary">
        <div class="card shadow-lg" style="max-width: 600px; border: none;">
            <div class="card-body p-5">
                <h2 class="mb-4 text-center">{{ 'nouveau mot de passe' | translate }}</h2>
                <form (ngSubmit)="resetPass()" #f="ngForm" novalidate>
                    <div class="form-floating mb-3">
                        <input id="newPassword" type="password" [(ngModel)]="passwordForm.password" name="newPassword"
                            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !validerPass }" required
                            minlength="8" #newPassword="ngModel" />
                        <label for="newPassword">{{ 'Mot de passe' | translate }}</label>
                        <div *ngIf="f.submitted && !validerPass" class="invalid-feedback">
                            {{ 'passRegex' | translate }}
                        </div>
                    </div>

                    <button *ngIf="!loading" class="btn btn-dark w-100 py-2" type="submit">
                        {{ 'Changer le mot de passe' | translate }}
                    </button>
                    <button *ngIf="loading" class="btn btn-secondary w-100 py-2" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                        <span role="status">{{ 'loading' | translate }}</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</ng-container>

<footer class="pt-3 mt-4 text-body-secondary border-top">
    <ul class="list-unstyled d-flex justify-content-center">
        <li>
            <a class="text-decoration-none mx-3" routerLink="/privacy">{{ 'privacy_policy' | translate }}</a>
        </li>
        <li>
            <a class="text-decoration-none mx-3" routerLink="/terms">{{ 'terms_of_use' | translate }}</a>
        </li>
        <li>
            <a class="text-decoration-none mx-3" routerLink="/contact">&copy; 2024</a>
        </li>
    </ul>
</footer>


<!-- Modale de succès -->
<div *ngIf="displaySucces" class="modal-overlay">
    <div class="modal-content">
        <h5 class="text-center text-success">{{ 'Succès' | translate }}</h5>
        <p class="alert alert-success">{{ successMessage | translate }}</p>
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-secondary" (click)="closeSucces()">{{ 'Fermer' | translate }}</button>
        </div>
    </div>
</div>

<!-- Modale d'erreur -->
<div *ngIf="displayError" class="modal-overlay">
    <div class="modal-content">
        <h5 class="text-center text-danger">{{ 'Erreur' | translate }}</h5>
        <p class="alert alert-danger">{{ errorMessage | translate }}</p>
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-secondary" (click)="closeError()">{{ 'Fermer' | translate }}</button>
        </div>
    </div>
</div>